.mentorbox{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2vw;
    position:relative;
    width: 20vw;
    height:20vw;
    background-color: black;
    border: 1vw solid white;
    border-radius:20px;
    box-shadow: -10px 5px 10px grey;
    top: 0;
    transition: 1s;
}

.mentorbox:hover{
    top:-40px;
    background-color: aliceblue;
    transition:  1s;
}

.mentorIcon{
    width:80%;
    aspect-ratio: auto;
}